{% extends 'base.html.twig' %}
{% block title %}
    Profile de {{ user.nom }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .img-thumb {
            padding: .25rem;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: .25rem;
            max-width: 100%;

        }

        .not-following {
            color: #3399FF;
            font-family: "Helvetica";
            font-size: 10pt;
            background-color: #ffffff;
            border: 1px solid;
            border-color: #3399FF;
            border-radius: 3px;
            width: 155px;
            height: 30px;

            top: 50px;
            left: 50px;
            cursor: hand;


        }

        .following {
            color: #fff;
            font-family: "Helvetica";
            font-size: 10pt;
            background-color: #2EB82E;
            border: 1px solid;

            border-color: #2EB82E;
            border-radius: 3px;
            width: 200px;
            height: 30px;

            top: 50px;
            left: 50px;
            cursor: hand;

        }

        .js-nbFollow {
            border: 1px solid;
            border-radius: 3px;
            border-color: #1e43ff;
            background-color: #f1f1f1;

            margin: 0px;
            padding: 0px;
            color: black;
        }

        button:focus {

            outline: 0px #3399FF !important;
        }


    </style>
{% endblock %}

{% block body %}

    <hr>
    <div class="container ">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span
                                aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
        <!--
        <div class="row">
            <div class="col-sm-10"><h1>{{ user.nom }} {{ user.prenom }}</h1></div>
            <div class="col-sm-2"><a href="/users" class="pull-right"></a>
            </div>
        </div>
		-->
        <div class="row">
            <div class="col-sm-3"><!--left col-->
                <div class="shadow p-3 mb-5 bg-white rounded"><h1 class="username">{{ user.nom }} {{ user.prenom }}</h1>


                    <div class="text-center">

                        <a href="#">
                            {#<img src="{{ user.profilePicture }}" class="img-thumb rounded-circle      "
                                 width="220" height="220"
                                 alt="avatar">#}
                            <img src="{{ asset('/uploads/files/profile_pictures/'~ user.profilePicture) }}"
                                 class="img-thumb rounded-circle      " width="220" height="220"
                                 alt="avatar"></a>


                    </div>
                    <h3><a href="{{ path('profile',{'id':user.id}) }}">@{{ user.username }}</a></h3>
                    {% if not isMyProfile %}
                        {% if following==false %}

                            <div class="text-center ">
                                <a class="js-followLink"
                                   href="{{ path('subscribe',{'followed_id':user.id }) }}">
                                    <button class="js-follow-button not-following container ">

                                        <div class="row ">
                                            <div class="   text-center  col-8 ">
                                                <div class="pl-4  follow "> + Follow</div>
                                            </div>
                                            <div class="  pl-4 float-left">
                                                <div class="pl-1 pr-1  js-nbFollow  ">{{ nombre_followers }}</div>
                                            </div>
                                        </div>

                                    </button>
                                </a>
                            </div>
                        {% elseif following==true %}
                            <div class="text-center ">
                                <a class="js-followLink"
                                   href="{{ path('subscribe',{'followed_id':user.id ,'following_id':11}) }}">
                                    <button class="js-follow-button following container ">

                                        <div class="row ">
                                            <div class="   text-center  col-8 ">
                                                <div class="pl-4  follow "> Following</div>
                                            </div>
                                            <div class="  pl-4 float-left">
                                                <div class="pl-1 pr-1  js-nbFollow  ">{{ nombre_followers }}</div>
                                            </div>
                                        </div>

                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}


                    </hr><br>


                    <div class="panel panel-default">
                        <div class="panel-heading">Bio <i class="fa fa-link fa-1x"></i></div>
                        <div class="panel-body">{{ user.bio }}</div>
                    </div>


                    <ul class="list-group">
                        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span
                                    class="pull-left"><strong>Posts</strong></span> {{ posts|length }}
                        </li>
                        <!-- nbadlouha baad manamlou l post -->
                        <li class="list-group-item text-right"><span
                                    class="pull-left"><strong>Likes</strong></span>0
                        </li>
                        <li class="list-group-item text-right"><span
                                    class="pull-left "><strong>Followers</strong></span>
                            <div class="js-nombre2">{{ nombre_followers }}</div>
                        </li>

                    </ul>
                </div>


            </div><!--/col-3-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#information">informations</a></li>
                    {% if isMyProfile==true %}
                    <li><a data-toggle="tab" href="#cordonnees">Modifier Cordonnées</a></li>
                    {% endif %}
                    <li><a data-toggle="tab" href="#postes">Postes</a></li>
                    <li><a data-toggle="tab" href="#criticize">criticizes</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="information">
                        <hr>
                        <br>

                        <div class="card">
                            <h5 class="card-header font-weight-bold">Nom</h5>
                            <div class="card-body">

                                <p class="card-text">{{ user.nom }}</p>

                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <h5 class="card-header font-weight-bold">Prenom</h5>
                            <div class="card-body">

                                <p class="card-text">{{ user.prenom }}</p>

                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <h5 class="card-header font-weight-bold">Date de Naissance</h5>
                            <div class="card-body">

                                <p class="card-text">{{ user.birthday| date("d/m/Y") }}</p>

                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <h5 class="card-header font-weight-bold">Email</h5>
                            <div class="card-body">

                                <p class="card-text">{{ user.Email }}</p>

                            </div>
                        </div>
                        <br>

                    </div><!--/tab-pane-->
                    {% if isMyProfile == true %}
                    <div class="tab-pane" id="cordonnees">

                        <h2></h2>

                        <hr>

                        {{ form_start(form) }}
                        <div class="form-group">
                            <label for="registration_nom">Modifier le nom</label>

                            {{ form_widget(form.nom) }}
                        </div>
                        <div class="form-group">
                            <label for="registration_prenom">Modifier le prenom</label>

                            {{ form_widget(form.prenom) }}
                        </div>
                        <div class="form-group">
                            <label for="registration_bio">Modifier la bio</label>

                            {{ form_widget(form.bio) }}
                        </div>

                        <div class="form-group">
                            <label for="registration_ProfilePicture">Modifier la photo de profil</label>

                            {{ form_widget(form.ProfilePicture,{
                                'required':false,
                                'attr':{
                                    'required':false
                                }
                            }) }}

                        </div>


                        <div class="form-group">
                            {{ form_widget(form.Enregistrer) }}
                            {{ form_rest(form) }}
                        </div>
                        {{ form_end(form,{'render_rest':false}) }}

                    </div>
                    {% endif %}<!--/tab-pane-->
                    <div class="tab-pane" id="postes">
                        {% for post in posts %}
                            {% include 'post/card.html.twig' with {post: post} only %}
                        {% endfor %}


                        <hr>
                        <!--nekhdmouha after postes-->

                    </div>
                    <div class="tab-pane" id="criticize">
                        <hr>
                        <br>
                        <div class="all-critique">

                            {% for critique in user.recivedCritiques %}
                                <div class="row ">
                                    <div class="col-11">
                                        <img src="{{ critique.sender.profilePicture }}" alt="">
                                        <img src="{{ asset('/uploads/files/profile_pictures/'~ critique.sender.profilePicture) }}"
                                             class="img-thumb rounded-circle      " width="50" height="50"
                                             alt="avatar"></a>

                                        <span class="font-weight-bold">
                                        {{ critique.sender.username }}:
                                    </span>


                                        {{ critique.content }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {% if isMyProfile == false %}
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <input class="form-control js-critiqueContent" type="text">
                                </div>
                            </div>
                            <div class="col-1">

                                <a href="{{ path('critiquer',{'critited':user.id,'content':'content'}) }}"
                                   class="js-critiqueSend">
                                    <button
                                            class="btn btn-primary ">
                                        Envoyer
                                    </button>
                                </a>

                            </div>
                        </div>
                        {% endif %}


                        <hr>

                    </div>

                </div><!--/tab-pane-->
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
    <div class="modal fade" role="dialog" id="imgmodal">
        <div class="modal-dialog">
            <div class="modal-content"></div>
            <img class="img-responsive" src="" id="show-img">
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--traitement critique -->

    <!-- traitement de follow -->
    <script>
        const critiqueButton = document.querySelector('.js-critiqueSend');
        const critiqueContent = document.querySelector('.js-critiqueContent');
        critiqueReciver = {{ user.id }};
        url1 = critiqueButton.href;
        console.log(critiqueReciver);


        //console.log(image);


        critiqueButton.addEventListener('click', (e) => {
            e.preventDefault();

            url2 = url1.replace("content", critiqueContent.value);
            console.log(url);
            axios.get(url2).then(function (res) {
                    if (res.data.sent === "ok") {
                        critiqueContainer = document.querySelector(".all-critique");
                        critique = document.createElement('div');
                        critique.setAttribute('class', 'col-11');
                        image = document.createElement('img');
                        image.setAttribute('src', "{{ asset('/uploads/files/profile_pictures/'~connectedUser.profilePicture) }}");
                        image.setAttribute('class', 'img-thumb rounded-circle');
                        image.setAttribute('width', '50');
                        image.setAttribute('height', '50');
                        nameC = document.createElement('span');
                        nameC.setAttribute('class', 'font-weight-bold');
                        nameC.textContent = "{{ connectedUser.username }}: ";
                        critique.appendChild(image);
                        critique.appendChild(nameC);
                        txt = document.createElement('span');
                        txt.textContent = critiqueContent.value;
                        critique.appendChild(txt);


                        //critique.textContent = critique.textContent + critiqueContent.value;
                        rowa = document.createElement('div');
                        rowa.setAttribute('class', 'row');
                        rowa.appendChild(critique)
                        critiqueContainer.appendChild(rowa);
                        critiqueContent.value = "";

                    }
                }
            )


        })


    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

        const followButton = document.querySelector('.js-follow-button');
        const followLink = document.querySelector('.js-followLink');
        const followCount = document.querySelector('.js-nbFollow');
        const url = followLink.href;
        const secondNumber = document.querySelector(".js-nombre2")
        followLink.addEventListener('click', (e) => {
            e.preventDefault();
            axios.get(url).then(function (response) {
                followCount.textContent = response.data.nombre_followers;
                secondNumber.textContent = response.data.nombre_followers;
                if (response.data.following == true) {
                    followButton.setAttribute('class', 'js-follow-button following container');
                    document.querySelector('.follow').textContent = "following";

                } else {
                    followButton.setAttribute('class', 'js-follow-button not-following container');
                    document.querySelector('.follow').textContent = " + follow";
                }

            })


        })


    </script>


    <script>
        $(document).ready(function () {
            $("img").click(function () {
                var img = $(this).attr('src');
                $("#show-img").attr('src', img);
                $("#imgmodal").modal('show');
            });
        });
    </script>
    <script>
        type = "application/javascript" >
            //pour afficher nom du fichier
            $('input[type="file"]').change(function (e) {
                var fileName = e.target.files[0].name;
                $('.custom-file-label').html(fileName);
            });
    </script>
{% endblock %}
