{% form_theme form_registration 'bootstrap_4_layout.html.twig' %}
{#{% extends 'base.html.twig' %}#}
{% block title %}Inscription{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/registrationStyle.css') }}">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <style>
         a {
            color: #0060B6;
            text-decoration: none;
            }

        a:hover
            {
         color:#00A0C6;
         text-decoration:none;
         cursor:pointer;
    }
</style>
{% endblock %}
{% block body %}

    <div >
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}






    </div>
   <div class="m-0 register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Bienvenue</h3>
                        <p>Vous pouvez rejoindre notre communauté et partager vos chef d'oevre  !</p>
                        <div class="btn btn-success"><a href="{{path('app_login')}}">login</a></div><br/><!-- nguedouha baad login -->
                    </div>
                    <div class="col-md-9 register-right">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Inscription</h3>

                                      {{ form_start(form_registration) }}
                                      <div class="row register-form">
                                         <div class="col-md-6">
                                         {{ form_row(form_registration.nom) }}
                                         {{ form_row(form_registration.Email) }}
                                         {{ form_row(form_registration.password) }}
                                         {{ form_row(form_registration.sexe) }}
                                         {{ form_row(form_registration.ProfilePicture) }}
                                         {{ form_row(form_registration.Enregistrer) }}

                                        </div>


                                        <div class="col-md-6">
                                        {{ form_row(form_registration.prenom) }}
                                        {{ form_row(form_registration.username) }}
                                        {{ form_row(form_registration.confirm_password) }}
                                        {{ form_row(form_registration.birthday) }}
                                        {{ form_row(form_registration.numTel) }}


                                        </div>


                                      </div>
                                     {{ form_end(form_registration) }}

                            </div>

                        </div>
                    </div>
                </div>
{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- pour verif de username avec ajax-->
<script>
usernameField=document.querySelector(".js-username");
usernameField.addEventListener('change',onTypeUsername);
let diva = document.createElement('div');
var validation =usernameField.parentElement.appendChild(diva);
//var validation = usernameField.nextElementSibling;
function onTypeUsername(event){

     const base='{{ url('usernameTester',{'username':'baseUsername'}) }}';


    const username =usernameField.value;
    console.log(username);
    const url =base.replace('baseUsername',username);


    axios.get(url).then(function(response) {
        if(response.data.isUnique==="yes"){
            usernameField.setAttribute("class", "js-username form-control is-valid");
                        validation.setAttribute("class", "valid-feedback");
                        validation.textContent = "username unique";

        }
        else{
            usernameField.setAttribute("class", " js-username form-control is-invalid");
            validation.setAttribute("class", "invalid-feedback")
            validation.textContent =username+ " est deja utilise";
        }


    })
}
</script>

    <script type="application/javascript">
        //pour afficher nom du fichier
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>
    <script>

        var frmElements = document.querySelectorAll(".form-control");
        var frmGroups = document.querySelectorAll(".form-group")

        function validName(elem) {
            var val = elem.value;
            if (val.length > 1) {
                return (true);
            } else {
                return (false);
            }
        }

        function validPrenom(elem) {
            var val = elem.value;
            if (val.length > 1) {
                return (true);
            } else {
                return (false);
            }
        }

        function validEmail(elem) {
            var val = elem.value;
            var pattern = /^[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-zA-Z0-9](?:[a-z0-9-]*[a-zA-Z0-9])?$/;
            return (pattern.test(val));
        }

        function validPassword(elem) {
            var val = elem.value;
            if (val.length >= 6) {
                return (true);
            } else {
                return (false);
            }
        }

        function validNumTel(elem) {
            var val = elem.value;

            if ((val.length == 8) && (!isNaN(val))) {
                return (true);
            } else {
                return (false);
            }
        }


        frmGroups.forEach(function (frmGrp, i, frmGroups) {
            let diva = document.createElement('div');
            frmGrp.appendChild(diva);

        });


        frmElements.forEach(function (frmElem, i, frmElements) {
            frmElem.addEventListener("input", function () {
                var validation = frmElem.nextElementSibling;
                var submition = document.querySelector("#sub");
                //verif nom

                if (frmElem.id == "registration_nom") {
                    if (validName(frmElem)) {
                        frmElem.setAttribute("class", " form-control is-valid");
                        validation.setAttribute("class", "valid-feedback");
                        validation.textContent = "nom valide";
                        //submition.disabled = false;

                    } else {
                        frmElem.setAttribute("class", " form-control is-invalid");
                        validation.setAttribute("class", "invalid-feedback");
                        validation.textContent = "nom invalide";
                        //submition.disabled = true;
                    }
                }
                    //verif prenom
                    if (frmElem.id == "registration_prenom") {
                        if (validPrenom(frmElem)) {
                            frmElem.setAttribute("class", " form-control is-valid");
                            validation.setAttribute("class", "valid-feedback");
                            validation.textContent = "prenom valide";
                            //submition.disabled = false;

                        } else {
                            frmElem.setAttribute("class", " form-control is-invalid");
                            validation.setAttribute("class", "invalid-feedback");
                            validation.textContent = "prenom invalide";
                            //submition.disabled = true;
                        }

                    }
                    //verif email
                    if (frmElem.id == "registration_Email") {
                        if (validEmail(frmElem)) {
                            frmElem.setAttribute("class", " form-control is-valid");
                            validation.setAttribute("class", "valid-feedback");
                            validation.textContent = "Email valide";
                            //submition.disabled = false;
                        } else {
                            frmElem.setAttribute("class", " form-control is-invalid");
                            validation.setAttribute("class", "invalid-feedback");
                            validation.textContent = "Email non valide";
                            //submition.disabled = true;

                        }
                    }
                        //verif pass
                        if (frmElem.id == "registration_password") {
                            if (validPassword(frmElem)) {
                                frmElem.setAttribute("class", " form-control is-valid");
                                validation.setAttribute("class", "valid-feedback")
                                validation.textContent = "Mot de passe valide";
                                //submition.disabled = false;
                            } else {
                                frmElem.setAttribute("class", " form-control is-invalid");
                                validation.setAttribute("class", "invalid-feedback")
                                validation.textContent = "Mot de passe doit contenir au moins 6 caracteres";
                                //submition.disabled = true;

                            }
                        }
                            //verif numtel
                            if (frmElem.id == "registration_numTel") {
                                if (validNumTel(frmElem)) {
                                    frmElem.setAttribute("class", " form-control is-valid");
                                    validation.setAttribute("class", "valid-feedback")
                                    validation.textContent = "Numero valide";
                                    //submition.disabled = false;
                                } else {
                                    frmElem.setAttribute("class", " form-control is-invalid");
                                    validation.setAttribute("class", "invalid-feedback")
                                    validation.textContent = "Numero invalide";
                                    //submition.disabled = true;

                                }

                            }

                        }
                    )

        })


    </script>
{% endblock %}