{% extends 'base.html.twig' %}

{% block title %}
    Search
{% endblock %}

{% block body %}


    <div class="container filter_ajax">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" style="color:#720026">List Of Posts</h1>
                <p class="lead font-weight-bold">This is the result of your search {{ type }} : "{{ tag }}"</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8 content_ajax ">
                {% if ok in '1' %}
                    <div class="d-flex justify-content-end mb-3 sort_ajax">
                        {{ knp_pagination_sortable(posts,'Likes ','p.nblikes') }}
                        {{ knp_pagination_sortable(posts,'Date ','p.createdAt') }}
                    </div>
                    {% for post in posts %}
                        {% if post.type == "text" %}
                            {% include 'post/cardText.html.twig' with {post: post} only %}
                        {% elseif post.type == "recording" %}
                            {% include 'post/cardRecording.html.twig' with {post: post} only %}
                        {% else %}
                            {% include 'post/card.html.twig' with {post: post} only %}
                        {% endif %}
                    {% endfor %}
                    <div class="p-2 pagination_ajax">
                        {{ knp_pagination_render(posts) }}
                    </div>
                {% elseif ok in '0' %}
                    <h1 class="text-danger"> Pas de Resultat pour cette recherche</h1>
                    <div style="margin-left: 50%"><a href="{{ path('post') }}"><h3>Retourner à la page d'acceuil</h3>
                        </a></div>
                {% endif %}
            </div>
            <div class="col-4 form_ajax ">
                <div class="card my-4" style="top: 75px;position: sticky">
                    <h5 class="card-header font-weight-bolder">Suggestions</h5>
                    <div class="card-body">
                        <table class="table">
                            {% for person  in userSuggestions %}
                                <tr>
                                    <th scope="row"><img src="{{ person.profilePicture }}" height="50px" width="50px"
                                                         style="border-radius: 30px" alt=""></th>
                                    <td>
                                        <a href="{{ path('profile',{id:person.id}) }}"
                                           class="ml-2">{{ person.nom }}{{ person.prenom }}</a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/cardStyle.css') }}">

    {% endblock %}

