{#
{%  extends 'base.html.twig' %}
{% block title %}
    Search Page
{% endblock %}
{% block stylesheets  %}
{{ parent() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style >

    .header {
        height: 100vh;

        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("{{ asset('background_images/art-1209519_1920.jpg') }}");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
    }
    h1{
        color: purple;
        text-shadow:
                1px 1px 2px rgba(0, 0,0, 1),
                -1px 0px 2px rgba(0,0,0, 1),
                -2px 0px 2px rgba(0,0,0, 1),
                -3px 0px 2px rgba(0,0,0, 1),
                -4px 0px 2px rgba(0,0,0, 1),
                -5px 0px 2px rgba(0,0,0, 1),
                -6px 0px 2px rgba(0,0,0, 1),
                -7px 0px 2px rgba(0,0,0, 1),
                -8px 0px 2px rgba(0,0,0, 1),
                -9px 0px 2px rgba(0,0,0, 1),
                -10px -2px 2px rgba(0,0,0, 1);

        padding-left: 0%;
        position: center;
        text-decoration-color: #f1f2f3;
        margin-bottom:70px ;
        font-size:50px;
        letter-spacing: 4px;

    }
    .search-field{
        height: 50px;

        width: 90vh;
        padding: 10px;
        border:none;
        border-radius:25px;
        outline:none;
        color: black;
        background: linear-gradient(beige, gray);

    }
    .search-field::placeholder{
        color: rgba(0,0,0,0.5);
    }
    .btn-search{
        margin-left: 70vh;
        height: 50px;
        width:140px;
        background: -webkit-linear-gradient(right, #6a11cb, #2575fc);
        background: -o-linear-gradient(right, #6a11cb, #2575fc);
        background: -moz-linear-gradient(right, #6a11cb, #2575fc);
        background: linear-gradient(right, #6a11cb, #2575fc);
        border: none;
        color: #000;
        border-radius:25px ;
    }
    .btn-search:hover{
        background: -webkit-linear-gradient(right, #580081, #008590);
        background: -o-linear-gradient(right, #580081, #008590);
        background: -moz-linear-gradient(right, #580081, #008590);
        background: linear-gradient(right, #580081, #008590);
    }
    .button-search{
        color: black;
        font-size: 20px;
        padding: 10px;
        background: -webkit-linear-gradient(right, #6a11cb, #2575fc);
        background: -o-linear-gradient(right, #90000b, #7a9085);
        background: -moz-linear-gradient(right, #90000b, #7a9085);
        background: linear-gradient(right, #90000b, #7a9085);
        border-radius:25px ;
    }
    .check{
        height: 20px;
        width: 20px;
        padding: 4px;
        background: #C82829;

    }
    .form-box{
        background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1),#8c7380);
        padding: 40px;
    }

    .radio-choice{
        color: #0d3849;
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Piedra', cursive;
        text-decoration: underline;
        padding-left: 10px;
        margin-left: 1%;
        text-align: justify;
    }
</style>
{% endblock %}
{% block body %}
    <div class="header">



        {{ form_start(form) }}
        <h1> Life is a search for yourself </h1>
        <div class="form-box">
        <div class="search-box">
            {{ form_row(form.motCle)}}
        </div>
            {{form_row(form.choice)}}
            {{ form_row(form.view)}}
            <button class="btn-search " type="submit"> Search</button>
        </div>
        {{ form_end(form) }}


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}#}
