{% extends'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('slider.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .btn-search2{
            position: absolute;
            top: 4px;
            left: 4px;

            height: 50px;
            width:70px;
            background: -webkit-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -o-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -moz-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: linear-gradient(right, rgba(195,158,41,0.95), wheat);
            border: none;
            color: snow;
            border-radius:15px ;
        }
        .btn-search2:hover{
            background: -webkit-linear-gradient(left, rgba(195,158,41,0.95), wheat);
            background: -o-linear-gradient(left, rgba(195,158,41,0.95), wheat);
            background: -moz-linear-gradient(left, rgba(195,158,41,0.95), wheat);
            background: linear-gradient(left, rgba(195,158,41,0.95), wheat);
        }
        body {
            /*
{#            background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url({{ asset('background_images/sandro-katalina-k1bO_VTiZSs-unsplash.jpg') }});#}
*/
            background:-webkit-linear-gradient(right, black,grey),linear-gradient(rgba(10,10,0,0),rgba(0,20,20,0));
            background: -o-linear-gradient(right, black, grey);
            background: -moz-linear-gradient(right, black, grey);
            background: linear-gradient(right, black, grey);
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .card {
            position: relative;
            background-color: #fff;
            width: 400px;
            height: 500px;
            margin: 0 auto;
        }

        .card .content {
            width: 400px;
            padding: 30px;
            box-sizing: border-box;
        }

        .card .sliderText {
            position: relative;
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
        }

        .card .sliderText h3 {
            color: #fff;
            font-size: 3em;
        }


        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 400px;

        }
        .card-title{
            text-shadow: 0px 5px 5px rgba(0,0,0,0.5);


        }
        .card-text{
            font-size: 16px;
            line-height: 25px;
        }
        .btn-search{
            margin-left: 70%;
            height: 30px;
            width:70px;
            background: -webkit-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -o-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -moz-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: linear-gradient(right, rgba(195,158,41,0.95), wheat);
            border: none;
            color: snow;
            border-radius:25px ;
        }
        .search-pagination{
            position: center;
            margin-left: 35%;
            color: black;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for person in users %}
                <div class="swiper-slide">
                    <div class="card" style="width:400px;height: 500px">
                        <img class="card-img-top" style="height: 300px" src="{{ person.profilePicture }}" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">{{ person.nom }} {{ person.prenom }}</h4>
                            <p class="card-text">{{ person.bio}}</p>
                            <a href="{{ path('profile',{id:person.id}) }}"><button class="btn-search " type="button"> Go to</button>
                            </a>
                        </div>
                    </div>

                </div>

{% endfor %}
        </div>
        <div class="swiper-pagination p-4"></div>
        <div class="search-pagination p-4">{{ knp_pagination_render(users) }}</div>

    </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('slider.js') }}"></script>
    <script>
        let swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 30,
                stretch: 0,
                depth: 500,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
{% endblock %}