{% extends 'base.html.twig' %}
{%  block title %}Users List{% endblock %}
{% block body %}
    <style>
        .btn-search{

            height: 50px;
            width:100px;
            background: -webkit-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -o-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -moz-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: linear-gradient(right, rgba(195,158,41,0.95), wheat);
            border: none;
            color: snow;
            border-radius:25px ;
        }
        .btn-search:hover{
            background: -webkit-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -o-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -moz-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: linear-gradient(right, rgba(195,158,41,0.95), wheat);
        }    .btn-search2{
            margin-left: 90%;
            height: 50px;
            width:100px;
                         background: -webkit-linear-gradient(right, rgba(195,158,41,0.95), wheat);
                         background: -o-linear-gradient(right, rgba(195,158,41,0.95), wheat);
                         background: -moz-linear-gradient(right, rgba(195,158,41,0.95), wheat);
                         background: linear-gradient(right, rgba(195,158,41,0.95), wheat);
            border: none;
            color: snow;
            border-radius:15px ;
        }
        .btn-search2:hover{
            background: -webkit-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -o-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: -moz-linear-gradient(right, rgba(195,158,41,0.95), wheat);
            background: linear-gradient(right, rgba(195,158,41,0.95), wheat);
        }

     body{
         background: Snow;
     }
        img{
            border-radius: 60px;
            position: center;

        }
        h2{
            color: rgba(255,255,255,01);
            text-shadow: 0 1px 0 #ccc,
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
            padding-left: 10%;
            text-decoration-color: #f1f2f3;
            margin-bottom:10px ;
            font-size:45px;
            letter-spacing: 3px;

        }
        td{
            font-family: 'MuseoModerno', cursive;
            font-weight: bold;
            padding-left: 4px;
        }
        p{
            margin-left: 10%;
            margin-bottom:10px ;
            font-size:30px;
            letter-spacing: 2px;

        }
       /* th{
            padding-left: 4px;
            color: snow;
            font-size: 20px;
            text-shadow: 0 3px 0 #000 ;
            font-family: 'MuseoModerno', cursive;
        }*/


        .search-pagination{
            position: center;
            margin-left: 35%;
            color: black;

        }

        .table-color {
            background-color: #844e5c;
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <div class="container">
                <div class="jumbotron jumbotron-fluid p-4">
                        <h1 class="display-4" style="color:#720026">List Of  Users </h1>
                        <p class="lead font-weight-bold" style="color: black" >This is the result of your search {{ type }} : "{{ tag }}"</p>
                    </div>

                <table class="table table-striped    table-hover">
            <thead class="table-secondary" >
            <tr>
                <th>Photo</th>
                <th>UserName</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>bio</th>
                <th>Profile</th>
            </tr>
            </thead>
            <tbody >
            <tr>
                {%  for person in users %}
            <tr>
                <th scope="row"><img src="{{ person.profilePicture }}" height="120px" width="120px" alt=""></th>
                <td >{{ person.username }}</td>
                <td>{{ person.nom }}</td>
                <td>{{ person.prenom}}</td>
                <td>{{ person.email}}</td>
                <td>{{ person.bio}}</td>
                <td>
                   <a href="{{ path('profile',{id:person.id}) }}"><button class="btn-search " type="button"> Go to</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
                <div class="search-pagination p-4">{{ knp_pagination_render(users) }}</div>

            </div>

{% endblock %}