<div class="card img-fluid " style="width:650px">
    <h5 class="card-title">
        <a href="# ">
        <img class="rounded-circle mr-2-3" src="{{ post.user.profilePicture }}" alt="" height="30px" width="30px"></a>
        <a href="#" class="ml-2">{{ post.user.nom }}</a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
        <i class="fa fa-hourglass" style=' padding:5px;font-size:18px;color:cornflowerblue'></i>
        {{ post.createdAt | date("F jS \\a\\t g:ia")  }}
    </h6>

    <div class="card-opacity">
        {% if post.type == "PHOTO" %}
        <img class="card-img-top" style="width:650px;height:520px" src="{{ post.content }}" alt="Card image">
        {% elseif post.type== "VIDEO" %}
        <video class="img-fluid" style="width: 650px;height: 520px" playsinline autoplay muted loop>
         <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4">
      </video>
    </div>
    {% endif %}
    </div>
    <div class="card__type"> {{ post.type }}</div>

    <div class="card-img-top p-2">
        <h4 class="card-title card__title text-success">{{ post.title }}</h4>
        <div>
            {% for c in post.categories %}

                <em class="text-muted  text-italic "> - {{ c }}</em>

            {% endfor %}
        </div>
        <p class="card-text font-weight-bolder card_description text-dark">{{ post.description }}</p>
        {% for t in post.tags %}

            <a href="#" class="text-primary text-italic ">#{{ t }}</a>

        {% endfor %}
        <div class="row">
            <div class="col-8">
                <h6 class="card-subtitle mb-2 text-muted">
                    <i class='fas fa-thumbs-up' style=' padding:10px;font-size:20px;color:cornflowerblue'></i>
                    {{ post.nblikes }} likes
                </h6>
            </div>
            <div class="col-4">
                <h6 class="card-subtitle mb-2 text-muted">
                    <i class='fas fa-comment-dots' style='padding:10px;font-size:20px;color:cornflowerblue'></i>
                    {{ post.nbcomment }} comments
                </h6>
            </div>
        </div>
        <a href="#">
            <button type="button" class="btn btn-primary">Go To Post</button>
        </a>

    </div>
</div>