{% extends 'base.html.twig' %}

{% block title %}
    {% if type in '1' %}Tous le posts!
    {% elseif type in '2' %} Subscribers Posts
    {% endif %}
{% endblock %}

{% block body %}


    <div class="container filter_ajax">
        <div class="row">

            <div class="col-8  ">

                <div class="d-flex justify-content-end mb-3 sort_ajax">
                    {{ knp_pagination_sortable(posts,'Likes ','p.nblikes') }}
                    {{ knp_pagination_sortable(posts,'Date ','p.createdAt') }}
                </div>
                <div class="content_ajax">
                    {% for message in app.flashes('error_max<min') %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for post in posts %}
                        {% if post.type == "text" %}
                            {% include 'post/cardText.html.twig' with {post: post} only %}
                        {% elseif post.type == "recording" %}
                            {% include 'post/cardRecording.html.twig' with {post: post} only %}
                        {% else %}
                            {% include 'post/card.html.twig' with {post: post} only %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="p-2 pagination_ajax">
                    {{ knp_pagination_render(posts) }}
                </div>
            </div>
            <div class="col-4 form_ajax ">
                {% include 'post/pageFilter.html.twig' with {form: form} only %}


            </div>
        </div>
    </div>
{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/cardStyle.css') }}">
    {% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        const sort = document.querySelector('.sort_ajax');
        const pagination = document.querySelector('.pagination_ajax');
        const content = document.querySelector('.content_ajax');
        const filter = document.querySelector('.filter_ajax');

        sort.querySelectorAll('a').forEach(a => {
            a.addEventListener('click', (e) => {
                e.preventDefault();
                let url = a.getAttribute('href')

            })
        })

        function headers(options) {
            options = options || {}
            options.headers = options.headers || {}
            options.headers['X-Requested-With'] = 'XMLHttpRequest'
            return options
        }

        async function load(url) {
            const response =
        }
    </script>
{% endblock %}