{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {% block stylesheets %}
<style>



    body{
    background: #DCDCDC	;

    font-family: Arial, Helvetica, sans-serif;
    }

    /* Style the header */
    header {
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
    }

    /* Create two columns/boxes that floats next to each other */
    #s {
        float: left;
        width: 30%;

        padding: 20px;
    }

    /* Style the list inside the menu */

    article {
        float: right;
        padding: 20px;
        width: 70%;


    }

    /* Clear floats after the columns */
    section:after {
        content: "";
        display: table;
        clear: both;
    }



    /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
    @media (max-width: 600px) {
        nav, article {
            width: 100%;
            height: auto;
        }
    }</style>
{#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">#}

    {% endblock %}

    <!-- Blog Post -->
    <div >

        <section>
            <nav id="s">
        {% if post.type == "PHOTO" %}

         <img class="figure-img img-fluid rounded" src="{{ post.content }}" alt="Card image">
        {% elseif post.type== "VIDEO" %}
        <video class="img-fluid" playsinline autoplay muted loop>
            <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4">
        </video>
    {% endif %}
            </nav>
            <article>
            <h2 class="card-title" style="color: #cfa0e9">{{ post.title }}</h2>
            <div class="text-muted">
                Posted on {{ post.createdAt | date("F jS \\a\\t g:ia") }} by
                <img class="rounded-circle mr-2-3" src="{{ post.user.profilePicture }}"
                     href="{{ path('profile',{id:post.user.id}) }} " alt="" height="30px" width="30px"></a>
                <a  style="color: #cfa0e9" href="{{ path('profile',{id:post.user.id}) }}" class="ml-2">{{ post.user.nom }} {{ post.user.prenom }}</a>
            </div>
                <div class="card-img-top p-2">
                    <div>
                        {% for c in post.categories %}

                            <em class="text-muted  text-italic "> - {{ c }}</em>

                        {% endfor %}
                    </div>
                    <p class="card-text font-weight-bolder card_description text-dark">{{ post.description }}</p>
                    {% for t in post.tags %}

                        <a href="#" style="color: #cfa0e9" class="text-italic ">#{{ t }}</a>

                    {% endfor %}
                    <div class="row">
                        <div class="col-8">
{#                            <a href="{{ path('subscribe'"#}
                            <h6 class="card-subtitle mb-2 text-black color_comments_like">
                                <a href="{{ path('post_like',{id:post.id}) }}" class="btn js-like" style="color: #cfa0e9">
                                {% if app.user and post.isLikedByUser(app.user) %}
                                <i class='fas fa-thumbs-up color js-likebtn' style="padding:10px;font-size:20px;color: #cfa0e9"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up js-likebtn" style="padding:10px;font-size:20px;color: #cfa0e9"></i>


                                {% endif %}
                                <span class="js-likes"> {{ post.likes | length }} </span>

                                    <span class="liker"> like </span>
                                </a>
                            </h6>
                            <button onclick="showLikers()">show likers</button>

                            <div id="likers">
                                {% for like in likes %}
                                    <li> {{like.user.nom }} {{ like.user.prenom }}</li>
                                {% endfor %}
                            </div>

                            
{#                                <!-- Small modal -->#}
{#                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>#}

{#                                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">#}
{#                                    <div class="modal-dialog modal-sm">#}
{#                                        <div class="modal-content">#}
{#                                            {% for like in likes %}#}
{#                                                <li> {{like.user.nom }} {{ like.user.prenom }}</li>#}
{#                                            {% endfor %}                                        </div>#}
{#                                    </div>#}
{#                                </div>#}




                        </div>
                        <div class="col-4">
                            <h6 class="card-subtitle mb-2  text-black">
                                <i class='fas fa-comment-dots color_comments_like'
                                   style="padding:10px;font-size:20px;color: #cfa0e9"></i>
                                {{ post.comments | length }}
                            </h6>
                        </div>
                    </div>


{#                    <div class="card my-4">#}
{#                        <h5 class="card-header">Leave a Comment:</h5>#}
{#                        <div class="card-body">#}

{#                                {{ form_start(form) }}#}

{#                                <div class="form-group">#}
{#                                    {{ form_widget(form.content) }}#}
{#                                </div>#}
{#                                <a href="{{ path('commentCreation',{id:post.id})}}" class="commentLink">#}
{#                                <button type="submit" class="btn btn-primary">Submit</button>#}
{#                                </a>#}
{#                            {{ form_end(form) }}#}
{#                        </div>#}
{#                    </div>#}

{#                    <div id="newComment" class="media mb-4">#}
{#                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#                        <div class="media-body">#}
{#                            <h5 class="mt-0">Commenter Name</h5>#}
{#                            <span class="commentContent"> </span>#}
{#                        </div>#}
{#                    </div>#}

{#                    <!--  Comment -->#}
{#                    {% for comment in comments %}#}
{#                    <div class="media mb-4">#}
{#                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#                        <div class="media-body">#}
{#                            <h5 class="mt-0">Commenter Name</h5>#}
{#                            {{comment.content}}                        </div>#}
{#                    </div>#}
{#                    {% endfor %}#}

                </div>

            </article>
        </section>

    </div>
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const likeButton = document.querySelector('.js-likebtn');
        const likeLink = document.querySelector('.js-like');
        const likeCount = document.querySelector('.js-likes');

        const url = likeLink.href;
        likeLink.addEventListener('click', (e) => {
            e.preventDefault();
            axios.get(url).then(function (response) {
                console.log(response.data)
                likeCount.textContent = response.data.nbLike;
                if(response.data.liked==true){
                    likeButton.setAttribute('class','fas fa-thumbs-up color js-likebtn');


                }else{
                    likeButton.setAttribute('class','far fa-thumbs-up color js-likebtn');

                }

            })


        })

    </script>

{#    <script>#}
{#        function hideNewComment() {#}
{#            var x = document.getElementById("newComment");#}
{#            if (x.style.display === "block") {#}
{#                x.style.display = "none";#}
{#            } else {#}
{#                x.style.display = "block";#}
{#            }#}
{#        }#}
{#    </script>#}

    <script>
        function showLikers() {
            var x = document.getElementById("likers");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

{% endblock %}

{% endblock %}
