{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        #form_id{
            padding: 30px;
        }
    </style>
{% endblock%}
{% block body %}
    <div id="form_id" >
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-6"> {{ form_row(form.title) }}</div>
            <div class="col-lg-6"> {{ form_row(form.tags,{'attr':{ 'value': tag ? tag : '' }})}}</div>
        </div>
        {{ form_row(form.description) }}
        {{ form_row(form.Categories) }}
        {{ form_row(form.text,{'attr':{ 'value': video ? video : '' }}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}