{% extends 'base.html.twig' %}
{% block title %}
    video
{% endblock %}
{% block stylesheets %}
    <style>
        body{
            background-color: #fafafa;
        }
        .container{
            width: 60%;
            height: 100%;
            border-right:rgba(0,0,0,0.2) solid 1px;
            border-left:rgba(0,0,0,0.2) solid 1px;
            box-shadow: 0 -50px 70px.2rem rgba(119,119,119,.25);
            paddin-top: 20px;
            padding-bottom: 200px;
        }
        .scrollable{
            height: 140px;
            overflow-y: scroll;
        }
        #form_id > div{
            margin: 15px;
        }
        input{
            margin-bottom: 10px;
            border: 0px;
        }
        textarea{
            resize: none;
        }
        input:hover , textarea:hover{
            border-bottom: #6a11cb solid 2px;

        }
        .btn-primary{
            color: black;
            background-image: url("https://www.casalux.fr/4464-thickbox_default/carrelage-gres-cerame-effet-marbre-poli-calacatta-2-couleurs-rectifie.jpg");
            border-color: rgba(172, 140, 208, 0.82);
            background-size: 80px ;
        }
        .btn-primary:active:focus{
            color: black !important;
            box-shadow: 0 0px 0px.2rem rgba(119,119,119,.25) !important;
            border-color: rgba(154, 152, 156, 0.82)!important;
        }
        .btn-primary:hover{
            color: black;
            border-color: rgba(172, 140, 208, 0.82);
        }
    </style>
{% endblock%}
{% block body %}
    <div class="container">
        <div id="form_id" class="row no-gutters" >
            <div class="col-10 col-sm-6 col-md-8">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title,{'attr':{'placeholder': 'Titre' }}) }}
                        {{ form_errors(form.title) }}

                    </div>
                    <div class="col-lg-6">
                        {{ form_label(form.tags) }}
                        {{ form_widget(form.tags,{'attr':{ 'value': tag ? tag : '','placeholder': 'tags' }})}}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                {{ form_label(form.description) }}
                {{ form_widget(form.description,{'attr':{'placeholder': 'describe your art!'}}) }}
                {{ form_errors(form.description) }}
            </div>
            <div class=" col-md-3 " style="padding: 0;">
                {{ form_row(form.Categories,{'attr':{'class':'scrollable'}}) }}
            </div>
        </div>
            {{ form_row(form.video,{'attr':{
                'value': video ? video : '',
                'id' : 'ImageFileUpload',
                'onchange' : "readURL(this);",
                'runat' : 'server'}}) }}
            <video id="myVideo" hidden width="500" controls height="176">
                <source src="" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            {{ form_row(form.thumbnail,{'attr':{
                'value': thumbnail ? thumbnail : '',
                'id' : 'ImageFileUpload',
                'onchange' : "readURL(this);",
                'runat' : 'server'}}) }}
            <img id="myThumbnail" src="" alt="?" hidden style="height: 500px;"  />
        {{ form_row(form.submit) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {//Check if input has files.
                var reader = new FileReader(); //Initialize FileReader.
                reader.onload = function (e) {
                    if (input.id === "post_video") {
                        $('#myVideo').attr('src', e.target.result);
                        $("#myVideo")[0].hidden = false;

                    } else {
                        $('#myThumbnail').attr('src', e.target.result);
                        $("#myThumbnail")[0].hidden = false;

                    }
                };
                reader.readAsDataURL(input.files[0]);
                input.hidden = false;
            } else {
                $("#myVideo")[0].hidden = true;
                $("#myThumbnail")[0].hidden = true;
                $('#myVideo').attr('src', "#");
                $('#myThumbnail').attr('src', "#");
            }
        }
    </script>
{% endblock %}